@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-body-slate bg-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4 {
    @apply text-navy;
  }
}

@layer utilities {
  .label-text {
    @apply text-xs font-extrabold text-brand-blue uppercase tracking-[2px];
  }
}
